
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 4em;
}

.everything{
    display: inline-grid;
    grid-template-columns: auto;
}
i{
    min-width: 300px;
    margin: 1em;
    color: rgb(0, 0, 224);
}

h1{
    color: rgb(0, 0, 0);
    font-size: 1.25em;
    font-weight: lighter;
    margin-bottom: 2em;
    margin-left: 1em;
}

.userform{
    display: flex;
    flex-direction: column;
    text-align: left;
    border: solid 1px rgb(224, 224, 224);
    width: 25vw;
    padding: 2em;
    justify-content: center;
    border-radius: .5em;
}


input{
    background-color: rgb(255, 255, 255);
    border-radius: .5em;
    border: solid 1px rgb(224, 224, 224);
    padding: .5em;
    margin: .1em;
    padding-left: 1em;
}

*:focus {
    outline: none;
}

input:focus-visible{
    border: solid 1px rgb(0, 0, 171);
}

button{
    background-color: rgb(0, 0, 224);
    color: rgb(255, 255, 255);
    border-radius: .5em;
    padding: 1em;
    border: 0px;
}
button:hover{
    background-color: rgb(0, 0, 171);
}